.contentContainer {
  margin-left: 15%;
  margin-right: 15%;
}

body {
  padding-top: 70px;
}

@media (max-width: 1024px) {
  .contentContainer {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1700px) {
  .contentContainer {
    margin-left: 25%;
    margin-right: 25%;
  }
  body {
    padding-top: 107px;
  }
}
